body{
    margin: 0;

}

p{
    margin: 0;
}
.header{
    background-color: #282828;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

.header div{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.map-info{
    background-color: #282828;

}
